.b-sd-demo-tools {
  --demo-block-bottom-offset: 0;
  position: fixed;
  left: 0;
  bottom: var(--demo-block-bottom-offset);
  z-index: 100;

  &__button {
    padding: 12px;
    background-color: var(--background-color);
    box-shadow: var(--shadow-2-level);
    z-index: 95;

    &:focus {
      outline: none;
    }

    .b-icon {
      transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6),
        color 0.4s ease-in-out;
    }

    &--active {
      .b-icon {
        color: var(--primary-color);
        transform: rotate(45deg);
      }
    }
  }

  &__popper {
    position: fixed;
    left: 0;
    bottom: var(--demo-block-bottom-offset);
    z-index: 90;
    box-shadow: var(--shadow-1-level);
    background: var(--background-color);
    border-radius: var(--border-radius) var(--border-radius)
      var(--border-radius) 0;
  }

  &__container {
    padding: 20px 20px 80px;
  }
}

@media (max-width: 768px) {
  .b-sd-demo-tools {
    --main-menu-height: 52px;
    --buy-block-height: 0px;
    --demo-block-bottom-offset: calc(
      var(--main-menu-height) + var(--buy-block-height) +
        env(safe-area-inset-bottom)
    );

    .with-buy-block & {
      --buy-block-height: 54px;
    }
  }
}

@media (hover: none) {
  .b-sd-demo-tools__button.MuiButton-root:hover {
    background-color: var(--background-color);
  }
}
